/* #product-image{
    width: 100%;
    height: 50%;
} */
#cardContainer{
    animation-duration: 1.2s;
    animation-name: slideProducts;
}

#titleTransition{
    animation-duration: 3s;
    animation-name: slideTittle;
}

@keyframes slideProducts {
    from{
        margin-left: 30%;
        opacity: 0;
    }
    to{
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes slideTittle{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}