/* #product-image{
    width: 100%;
    height: 50%;
} */
 .cardContainer{
    animation-duration: 1.2s;
    animation-name: slideProducts;
}

@keyframes slideProducts {
    from{
        margin-left: 60%;
        opacity: 0;
    }
    to{
        margin-left: 0%;
        opacity: 1;
    }
}
