.cart-animation {
    position: relative;
    display: inline-block;
  }
  
/* .button-container{
  width: 120%;
  height: 100%;
} */

.product-falling {
  font-size: 14px;
  position: absolute;
  top: -5px; 
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  /* background-color: red; */
  border-radius: 50%;
  animation: fall 3s ease-in forwards;
}
#svg{
  width: 40px;
  height: 40px;
  fill: white;
}

  /* Animación de movimiento del carrito */
  @keyframes moveCart {
    0% {
      transform: translateX(-100px); 
    }
    50% {
      transform: translateX(0px);    
    }
    100% {
      transform: translateX(100px);   
    }
  }
  
  #svg {
    animation: moveCart 2s ease-out forwards;
  }
  
 
@keyframes fall {
  0% {
    top: -19px;  
    opacity: 1;
  }
  50% {
    top: 25px;  
    opacity: 0;
    transform: scale(0);
  }
}

@media (max-width: 750px) {
    @keyframes moveCart {
        0% {
          transform: translateX(-90px);  /* Empieza desde la izquierda */
        }
        50% {
          transform: translateX(0px);     /* Se mueve al centro */
        }
        100% {
          transform: translateX(90px);    /* Finaliza ligeramente a la derecha */
        }
      }
      
      #svg {
        animation: moveCart 2s ease-out forwards;
      }
      
      /* Animación de la caída del círculo */
  
}