#navbar{
    cursor:pointer;

}




@media (max-width: 569px){
    header{
        display: flex;
        flex-direction: column;
    }
    #number{
        margin-top: 25px;
    }

    .li{
        margin-left: 13px;
    }
}


